/* Styling sheet for main website skeleton */
head {
  font-family: 'Fira-Code', monospace;
}

body {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-image: url("img/water-pattern.jpg");
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #008f69;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  right: 0;
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

section .row p {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
}

.col-md-6 {
  margin: 0 0 30px;
}

footer {
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .0005rem .1rem;*/
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer .col-sm-2 a {
  cursor: pointer;
  position: relative;
}

footer .col-sm-2 a:active {
  top: 2px;
}

.fa-paper-plane   {
  color: black;
  align: center;
}
.fa-github{
  color: black;
}
.fa-linkedin{
  color: black;
}
