/* Styling sheet for main website skeleton */
head {
  font-family: 'Fira-Code', monospace;
}

body {
  font-family: 'Fira Code', monospace;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
}

footer {
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .0005rem .1rem;*/
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer .col-sm-2 a {
  cursor: pointer;
  position: relative;
}

footer .col-sm-2 a:active {
  top: 2px;
}
